.config-container {
    grid-area: 1 / 2 / 3 / 2;

    width: 100%;
    height: 100%;
    padding: 1rem;

    border: 1px solid #707070;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.config-container h1 {
    margin-top: 0;
}

.config-input-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 15px;
}

.config-container  .input-tag {
    border-radius: 5px;
    border: 1px solid #707070;
    padding: 2px;
    width: 10rem;
}

.add-button {
    display: inline-block;
}

.remove-button {
    border-radius: 15px;
    border: 1px solid #707070;
}

.config-button {
    border-radius: 5px;
    border: 1px solid #707070;
    /* width: fit-content; */
    white-space: nowrap;
    padding: .5rem;
}

.file-label {
    border-radius: 5px;
    border: 1px solid #707070;
    padding: 2px 15px;
    color: FieldText;
    background-color: Field; /*this is a system color*/
    font: -webkit-small-control;

}

.file-input {
    display: None;
    
}

#goals {
    flex-wrap: wrap;
}