.data-viz-container {
    height: 35vh;
    width: 70vw;
    border: 1px solid #707070;

    grid-area: 1 / 2 / 1 / 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto ; 
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    margin: 15px;
    border-radius: 10px;
    place-self: center;
    
}

.chart-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr;
    gap: 10px;
    margin: auto 0;
    width: 100%;
    height: 100%;
    /* grid-column: 1;
    grid-row: 2; */
    /* padding: 10px 10px; */
    outline: none;
} 

.chart-container * {
    outline: none;
}

.data-viz-container h3 {
    margin: auto auto;
}

.chart-container {
    grid-column: 1;
    grid-row: 2;
}

.left-heading {
    grid-column: 1;
    grid-row: 1;
}

.right-heading {
    grid-column: 2;
    grid-row: 1;
}

.data-table-container {
    grid-column: 2;
    grid-row: 2;
}

/* Targets the individual legend items */
.recharts-legend-item {
  margin-right: 15px !important; /* Adjust this value for more/less gap */
  margin-left: 15px !important;
}

/* Optional: Removes the gap from the very last item */
.recharts-legend-item:last-child {
  margin-right: 0 !important;
}

.data-viz-placeholder {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min size, preferred size, max size */
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #b7b7b7;
    grid-area: 1 / 1 / 3 / 3;

    /* flex-wrap: wrap; */

}

.data-table {
    place-self: center;

}

.data-table th {
    text-align: left;
}

.data-table th, td {
  padding-left: 20px;   /* Space on the left */
  padding-right: 20px;  /* Space on the right */
  padding-top: 12px;    /* Vertical spacing */
  padding-bottom: 12px;
}
