.input-container {
    height: 10vh;
    width: 45vw;
    border: 1px solid #707070;
    grid-area: 3 / 2 / 3 / 2; 
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    place-items: start;
    /* flex-direction: column; */
    gap: 10px;
    padding: 10px 10px;
    margin: 15px;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
}

.action-button {
    border: 1px solid #707070;
    border-radius: 10px;
    background: none;
    padding: 5px 10px;
    color: #04D9FF;

    grid-area: 1 / 1 / 1 / 1; 
}