.side-bar-container {
    height: 99vh;
    border: 1px solid #707070;
    /* grid-column: 1;
    grid-row: 1; */
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    position: sticky;
    top: 0;   
}

.round-button {
    width: 35px;
    height: 35px;
    border-radius: 17px;
    border: 1px solid white;
}

.square-button {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    border: 1px solid white;
}